/* Chat box styles */
#chat-box {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    overflow-y: scroll;
    max-height: 300px;
  }
  
  /* Chat message styles */
  .chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e7e7e7;
  }
  
  .chat-message .sender {
    font-weight: bold;
  }
  
  .chat-message .timestamp {
    margin-top: -16px;
    font-size: 0.8em;
    color: #666;
  }

  .message-form-container {
    display: flex;
}

.message-form {
    background-color: #f8faff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.message-form:focus {
    outline: none;
}

.message-form::placeholder {
    color: #999;
}

/* Send button styles */
.send-button {
    background-color: None ;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.send-button:hover {
    background-color: #dddddd;
}