/* Header styles */
header {
  background-color: #5f77ffad;
  color: #69375a;
  padding: 0px 20px;
  background: linear-gradient(to top, transparent, #5f77ffad);
}
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    display: flex;
    align-items: center;
  }
  
  .fade-effect {
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, transparent, white);
}