<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - HelpMe Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="header-title">
                <h1>HelpMe Chatbot</h1>
                <nav>
                    <ul class="navbar-menu">
                        <li><a href="{{ url_for('Routes.index') }}" class="navbar-right">Home</a>
                        <li><a href="{{ url_for('Routes.chat') }}" class="navbar-right">Chat</a>
                    </ul>
                </nav>
            </div>
            {% if session['username'] %}
            <p class="navbar-username">{{ session['username'] }}</p>
            <a href="{{ url_for('Auth.logout') }}" class="navbar-right">Logout</a>
            {% else %}
            <a href="{{ url_for('Routes.login') }}" class="navbar-right">Sign In</a>
            {% endif %}
        </div>
    </header>

        <div class="login-container">
            <h2>Sign In</h2>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <form action="{{ url_for('Auth.loginHandle') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Sign In</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class=login-reg>
            <form action="{{ url_for('Routes.register') }}" method="post">
            <button type="submit">Sign Up</button>
            </form>
        </div>

    <footer>
        <div class="footer-content">
            <div class="creator">
                <p>Created by Niko Itänen</p>
            </div>
        </div>
    </footer>
</body>
</html>